{% load static %}

<div class="card w-100 answer-card" style="width: 18rem;" data-id="{{ answer.id }}">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2" style="height: 100px; text-align: center" >
                    <img src="{% static '/img/amogus.jpg' %}" alt="Avatar" class="img-fluid" width="50" height="50">
                </div>
                <button class="like-button-answer" type="submit">
                    ❤️ <span class="like-counter-answer">{{ answer.likes }}</span>
                </button>
            </div>
            <div class="col-9">

                <p class="card-text">{{ answer.content }}</p>
                 <div class="form-check">
                    {% if is_author %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" data-id="{{ answer.id }}" id="flexCheckDefault1" {% if answer.correct %}checked{% endif %}>
                        <label class="form-check-label" for="flexCheckDefault1">
                            Correct!
                        </label>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>